.pageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: #ffffffcd;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
  padding: 0 10px;
  overflow-x: hidden;
  background: radial-gradient(circle, #09d296, #ff00d4);
  background-repeat: no-repeat;

  section {
    width: 100%;
    height: fit-content;
  }

  div {
    padding: 5px 0;
  }

  .results-section {
    margin-top: 10px;

    .result {
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      border: 2px solid black;
      border-radius: 10px;
      height: fit-content;
      width: 99%;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      .load-img {
        max-width: 340px;
        min-height: 340px;
        border-radius: 5px;
        object-fit: contain;
      }
    }
    
    .duration {
      color: #fff;
      background-color: rgb(0, 0, 0, 0.5);
      width: 97%;
      border-radius: 10px;
      padding: 5px;
      text-align: center;
    }

    .progress-status {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      border-radius: 20px;
      border: 3px solid black;
      background-color: #05050585;
      height: 20px;

      p {
        font-size: 16px;
        margin: 0 10px;
        z-index: 6;
      }

      .loading-bar {
        position: absolute;
        background-color: lime;
        border-radius: 20px;
        height: 20px;
        max-width: 93%;
      }
    }

    .result-buttons {
      display: flex;
      justify-content: space-between;
      padding: 0;

      button {
        width: 170px;
        height: 70px;
        margin: 0 5px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
        color: aliceblue;
        border: 1px solid black;
        border-radius: 30px;
        background-color: rgb(255, 0, 85);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        -webkit-text-stroke: 0.2px black;
      }

      mat-icon {
        margin: 5px;
      }
    }
  }

  .prompt-secction {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      justify-content: space-between;
      padding: 0;

      .generate-btn,
      .interrupt-btn,
      .skip-btn {
        border-radius: 30px;
        border: 1px solid black;
        height: 70px;
        font-size: 28px;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        background-color: #ff0055;
        color: aliceblue;
        -webkit-text-stroke: 0.5px black;
      }

      .interrupt-btn,
      .skip-btn {
        width: 170px;
      }

      .skip-btn {
        margin-left: 5px;
      }
    }

    div {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    textarea {
      margin-top: 10px;
      min-height: 200px;
      font-size: 17px;
      font-family: sans-serif;
      font-weight: 600;
      border: 1px solid black;
      border-radius: 10px;
    }

    .load-btn-div {
      margin: 0;
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .load-text {
      display: flex;
      height: 20px;
      align-items: center;
    }

    .styles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .style-input-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .style-input {
          width: 80%;
          height: 44px;
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          border: 1px solid black;
          border-radius: 10px;
          margin-right: 7px;
        }
      }

      .other-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        button {
          width: 65px;
          height: 50px;
          word-wrap: break-word;
          border: 1px solid black;
          border-radius: 10px;
          font-weight: 700;
          color: aliceblue;
          background-color: lightseagreen;
        }
      }

      .style-list {
        flex-direction: row;
        flex-wrap: wrap;

        .style-list-select {
          width: 80%;
          height: 50px;
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          border: 1px solid black;
          border-radius: 10px;
          margin-right: 5px;
        }
      }

      button {
        width: 65px;
        height: 50px;
        background-color: lightseagreen;
        border: 1px solid black;
        border-radius: 10px;
        font-weight: 700;
        color: aliceblue;
      }
    }
  }

  .sample-section {
    div {
      width: 100%;
    }

    .sampling {
      display: flex;
      flex-direction: column;
    }
    .methods {
      display: flex;
      flex-direction: column;

      select {
        margin-top: 10px;
        height: 50px;
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 10px;
      }
    }

    .steps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .steps-input {
        font-size: 17px;
        font-family: sans-serif;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
      }

      .steps-slide {
        width: 100%;
        height: 30px;
      }
    }

    .post-processing {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      input {
        width: 19px;
        height: 19px;
        border: 1px solid black;
        border-radius: 50%;
        margin: 5px;
      }

      label {
        width: 40%;
        padding-right: 6px;
      }
    }

    .resolution {
      display: flex;
      flex-direction: row;

      &-sliders {
        margin-right: 10px;

        div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
        }

        .input {
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          border: 1px solid black;
          border-radius: 10px;
          text-align: center;
        }

        .slide {
          width: 100%;
          height: 30px;
        }
      }

      &-button {
        width: 14%;
        justify-content: center;
        align-self: center;

        button {
          width: 100%;
          height: 120px;
          border: 1.5px solid black;
          border-radius: 10px;
          background-color: lightseagreen;
          color: aliceblue;
          -webkit-text-stroke: 0.2px black;
        }
      }
    }

    .batch {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .input {
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          border: 1px solid black;
          border-radius: 10px;
          text-align: center;
        }

        .slide {
          width: 100%;
          height: 30px;
        }
      }
    }

    .seed {
      display: flex;
      flex-direction: row;

      &-value {
        display: flex;
        flex-wrap: wrap;
        width: 50%;

        input {
          margin: 5px 0;
          width: 100%;
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          border: 1px solid black;
          border-radius: 10px;
        }
      }

      &-buttons {
        display: flex;
        justify-content: space-around;
        width: 50%;

        button {
          margin: 0 2px;
          font-size: 17px;
          font-family: sans-serif;
          font-weight: 600;
          color: aliceblue;
          border: 1px solid black;
          border-radius: 10px;
          background-color: lightseagreen;
          -webkit-text-stroke: 0.2px black;
        }
      }
    }

    .model {
      height: 50px;
      width: 100%;
      font-size: 17px;
      font-family: sans-serif;
      font-weight: 600;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}

.loading {
  background-image: linear-gradient(120deg, #09d296, #ff00d4, #09d296, #ff00d4, #09d296, #ff00d4);
  background-size: 400% 400%;
  animation: bgani 15s ease-in-out infinite;
}

@keyframes bgani {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}
